<!-- <mat-form-field>
  <mat-label>Preffered currency</mat-label>
  <mat-select [(value)]="selected">

    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
      {{currency.text}}
    </mat-option>

  </mat-select>
</mat-form-field>
<p>
Selected Value: {{selected}}
</p>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<!-- <mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>  -->


<div class="container">

  <h1 class="mat-display-1">How to cascade dropdowns in Angular 2+</h1>

  <div class="row" [formGroup]="formGroup">
    <div class="col-md-3">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select placeholder="Country" formControlName="country" (selectionChange)="getStateByCountry($event.value)">
          <mat-option *ngFor="let item of countryArray" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select placeholder="State" formControlName="state" (selectionChange)="getCityByState($event.value)" [disabled]="isDisable">
          <mat-option *ngFor="let item of stateArray" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-label>City</mat-label>
        <mat-select placeholder="City" formControlName="city" [disabled]="isDisable">
          <mat-option *ngFor="let item of citiesArray" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>